/* Так записывается комментарий в CSS */
body {

}

div {
  background-color: #00ff00;
  font-size: 13pt;
  padding: 10px;
  margin: 0;
}

p {
  color: black;
  font-size: 150%;
}

p.p1 {
  background-color: #ff0000;
  font-size: 13pt;
  padding: 10px;
  margin: 0;
}

/* Шрифт элемента */
p.serif {
  font-family: "Times New Roman", Times, serif;
}

p.sansserif {
  font-family: Helvetica, Arial, sans-serif;
}

p.monospace {
  font-family: "Courier New", Courier, monospace;
}

p.cursive {
  font-family: Florence, cursive;
}

p.fantasy {
  font-family: Blippo, fantasy;
}

/* Размер шрифта */
p.small {
  font-size: small;
}

p.medium {
  font-size: medium;
}

p.large {
  font-size: large;
}

p.xlarge {
  font-size: x-large;
}

h1 {
  font-size: 20px;
}

/* Чтобы посчитать размер в em, используйте следующую формулу: em = pixels / 16 */
h2 {
  font-size: 1.25em;
}

/* Стиль шрифта */
p.normal {
  font-style: normal;
}

p.italic {
  font-style: italic;
}

/* Oblique (наклонный шрифт) очень похож на курсив, но является менее поддерживаемым. */
p.oblique {
  font-style: oblique;
}

/* Толщина текста */
p.light {
  font-weight: lighter;
}

p.bold {
  font-weight: bold;
}

p.bolder {
  font-weight: bolder;
}

p.w100 {
  font-weight: 100;
}

p.w900 {
  font-weight: 900;
}

/* font-variant позволяет конвертировать шрифт в маленькие заглавные буквы */
p.normal {
  font-variant: normal;
}

p.small {
  font-variant: small-caps;
}

p.inherit {
  font-variant: inherit;
}

/* Текст цвета (название цвета) */
p.example {
  color: green;
}

/* Текст цвета с (шестнадцатеричных значений) */
p.example1 {
  color: #0000ff;
}

/* Текст цвета (RGB) */
p.example2 {
  color: rgb(255, 0, 0);
}

/* Горизонтальное расположение текста в элементе */
p.left {
  text-align: left;
}

p.right {
  text-align: right;
}

p.center {
  text-align: center;
}

/* Вертикальное положение элемента */
td.top {
  vertical-align: top;
}

td.middle {
  vertical-align: middle;
}

td.bottom {
  vertical-align: bottom;
}

span.baseline {
  vertical-align: baseline;
}

span.sub {
  vertical-align: sub;
}

span.super {
  vertical-align: super;
}

span.pixel {
  vertical-align: -10px;
}

span.procent {
  vertical-align: -10%;
}

span.pt {
  vertical-align: -10pt;
}

span.cm {
  vertical-align: -2cm;
}

/* Декорация текста */
p.none {
  text-decoration: none;
}

p.inherit {
  text-decoration: inherit;
}

p.overline {
  text-decoration: overline;
}

p.underline {
  text-decoration: underline;
}

p.line-through {
  text-decoration: line-through;
}

/* Значение blink заставляет текст мигать */
p.blink {
  text-decoration: blink;
}

/* Свойство text-indent определяет, сколько места по горизонтали должно быть оставлено до начала первой строки текста.
Значениями свойства являются length (px, pt, cm, em, и т.д.), %, и inherit. */
p.indent {
  text-indent: 60px;
}

/* Свойство text-shadow добавляет к тексту тень.
Оно принимает четыре значения: первое значение определяет длину тени по оси x (по горизонтали),
второе значение определяет длину по оси y (по вертикали),
третье значение определяет размытие тени,
а четвертое значение определяет цвет.
*/
p.shadow {
  color: blue;
  font-size: 30pt;
  text-shadow: 5px 2px 4px grey;
}

p.shadow-effect {
  font-size: 20pt;
  text-shadow: rgba(0, 0, 255, 1) -1px -2px 0.5em;
}

/* Свойство text-transform определяет регистр текста */
p.capitalize {
  text-transform: capitalize;
}

p.uppercase {
  text-transform: uppercase;
}

p.lowercase {
  text-transform: lowercase;
}

/* Свойство letter-spacing определяет расстояние между символами в тексте. */
p.normal {
  letter-spacing: normal;
}

p.positive {
  letter-spacing: 4px;
}

p.negative {
  letter-spacing: -1.5px;
}

/* Свойство word-spacing определяет расстояние между словами в тексте.
px, pt, pc, cm, mm, inches, em, и ex. */
p.px {
  word-spacing: 30px;
}

/* Свойство white-space определяет, как будут отображаться пробелы внутри элемента.
При значении nowrap, текст продолжается на одной линии без переноса строки до следующего тега < br>
Текст будет отображаться одной строкой, пока не встретится тег < br/>. */
p.nowrap {
  white-space: nowrap;
}

p.pre {
  white-space: pre;
}

p.preline {
  white-space: pre-line;
}

p.prewrap {
  white-space: pre-wrap;
}
